/* Move down content because we have a fixed navbar that is 50px tall */

nav{
	z-index: 10;
}

.navbar{
	margin-bottom: 0px;
}

.navbar>li{
  margin: 0 10px;
}

.navbar .container-fluid{
	position: relative;
}

.navbar .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    font-size: 28px;
    font-weight: 700;
    color: #e74a33;
}

.header {
	background: url(img/header-background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: row;
  font-family: 'Lato', 'sans-serif';
}

.overlay {
	background: black;
	opacity: 0.5;
	position: absolute;
	height: 100%;
	width: 100%;
}

h1{
	font-weight: 700;
	margin-top: 10px;
}

.header-logo {
	width: 200px;
	height: 200px;
  margin: 0 20px;
}

.header-text {
	text-align: left;
	display: flex;
 flex-direction: column;
 justify-content: center;
}

.header-info {
	z-index: 0;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;
}

.header-title{
	font-size: 45px;
}

.header-sentence{
	font-size: 18px;
}

.header{
  margin-bottom: 20px;
}

.container.intro{
  height: 100vh;
}

.social li{
  list-style: none;
  display: inline;
}

.container.bio{
  height: 100vh;
  margin: 0;
  width: 100%;
  color: #fff;
  background-color:#e35f4c;
}


.bio .bio-text{
  padding: 10%;
}

.review .row{
  padding: 20px 0;
}

.review-section{
  border: 2px #fff solid;
  border-radius: 5px;
  min-height: 210px;
  padding: 20px;
  margin-top: 20px;
}

.blog{
}

footer{
  color: #fff;
  background-color: #262626;
  height: 50vh;
}

footer form{

}
